# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Node/Vite build artifacts
node_modules/
frontend/dist/
api/frontend_dist/
api/staticfiles/
api/media/

# Database files
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store